@import "globals";

.title {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 14vh;

  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: 0.7rem;
  color: hsl(184, 11%, 27%);
}

.calculator-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  position: absolute;
  bottom: 0;

  height: 86%;
  width: 100vw;
  max-width: 30rem;
  border-radius: 2rem 2rem 0rem 0rem;

  background-color: white;
  padding: 2.2rem 1.8rem;

  .section-title {
    margin-bottom: 0.5rem;
  }

  .small-title {
    font-size: 1rem;
    font-weight: 600;

    color: $dark-grayish-cyan-dark;
  }
}

.wide-display {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  padding: 0.2rem 1rem;
  border-radius: 0.5rem;

  background-color: $light-grayish-cyan-two;
  color: $very-dark-cyan;
  font-size: 1.6rem;
  font-weight: 700;

  img {
    height: 100%;
  }
}
.tip-option {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 3rem;
  border-radius: 0.4rem;
  background-color: $very-dark-cyan;

  font-size: 1.6rem;
  color: white;
}
.custom {
  font-weight: 700;
  font-size: 1.6rem;
  background-color: $light-grayish-cyan-two;
  color: $dark-grayish-cyan-dark;
}
.tip-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1rem;

  width: 100%;
}

.total-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 100%;
  height: 16rem;
  padding: 2.4rem 1.4rem 1.4rem 1.4rem;
  border-radius: 1rem;

  background-color: $very-dark-cyan;

  .total-section {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .total-text {
      line-height: 1.3rem;
    }

    .light-title {
      color: $light-grayish-cyan-one;
    }

    .person {
      font-size: 1rem;
      font-weight: 600;
      color: $dark-grayish-cyan;
    }
    .tip-display {
      font-size: 2rem;
      font-weight: 700;

      color: $strong-cyan;
    }
  }

  .reset {
    align-self: center;
    font-family: inherit;
    font-weight: 700;
    font-size: 1.4rem;

    width: 100%;

    background-color: $strong-cyan;
    color: $very-dark-cyan;
    border: none;
    border-radius: 0.3rem;
    padding: 0.5rem;
  }
}
