@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "Space Mono";
  font-size: 24px;
  background-color: #c5e4e7;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  height: 14vh;
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: 0.7rem;
  color: #3d4b4c;
}

.calc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 100%;
}

.calculator-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: clamp(750px, 87vh, 800px);
  width: 100vw;
  max-width: 30rem;
  border-radius: 2rem 2rem 2rem 2rem;
  background-color: white;
  padding: 2.2rem 1.8rem;
}

.calculator-wrapper .section-title {
  margin-bottom: 0.5rem;
}

.calculator-wrapper .small-title {
  font-size: 1rem;
  font-weight: 600;
  color: #5e7a7d;
}

.wide-display {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 0.2rem 1rem;
  border-radius: 0.5rem;
}

.wide-display img {
  position: absolute;
  left: 2rem;
  height: 35%;
}

.wide-display .input {
  width: 100%;
  font-family: inherit;
  padding: 0.2rem;
  border: 2px solid transparent;
  border-radius: 0.5rem;
  text-align: right;
  background-color: #f4fafa;
  color: #00494d;
  font-size: 1.6rem;
  font-weight: 700;
  cursor: pointer;
}

.wide-display .input:focus {
  border: 2px solid #26c0ab;
  outline: none;
}

.wide-display .input::-webkit-input-placeholder {
  color: inherit;
}

.wide-display .input:-ms-input-placeholder {
  color: inherit;
}

.wide-display .input::-ms-input-placeholder {
  color: inherit;
}

.wide-display .input::placeholder {
  color: inherit;
}

.tip-option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 3rem;
  border-radius: 0.4rem;
  background-color: #00494d;
  font-size: 1.6rem;
  font-weight: bolder;
  color: white;
  cursor: pointer;
}

.tip-option:hover {
  background-color: #c5e4e7;
  color: #00494d;
}

#selected {
  background-color: #26c0ab;
  color: #00494d;
}

.custom {
  display: block;
  direction: rtl;
  width: inherit;
  padding: 1rem;
  color: #00494d;
  font-weight: 700;
  font-size: 1.6rem;
  background-color: #f4fafa;
  color: #5e7a7d;
  cursor: pointer;
  border: none;
}

.custom:hover {
  background-color: #c5e4e7;
}

.custom:focus {
  border: 2px solid #26c0ab;
  outline: none;
}

.custom::-webkit-input-placeholder {
  font-family: "Space Mono";
  text-align: center;
  color: #5e7a7d;
}

.custom:-ms-input-placeholder {
  font-family: "Space Mono";
  text-align: center;
  color: #5e7a7d;
}

.custom::-ms-input-placeholder {
  font-family: "Space Mono";
  text-align: center;
  color: #5e7a7d;
}

.custom::placeholder {
  font-family: "Space Mono";
  text-align: center;
  color: #5e7a7d;
}

.tip-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  gap: 1rem;
  width: 100%;
}

.total-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 16rem;
  padding: 2.4rem 1.4rem 1.4rem 1.4rem;
  border-radius: 1rem;
  background-color: #00494d;
}

.total-wrapper .total-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1.5rem;
}

.total-wrapper .total-section .light-title {
  color: #c5e4e7;
}

.total-wrapper .total-section .person {
  font-size: 1rem;
  font-weight: 600;
  color: #7f9c9f;
}

.total-wrapper .total-section .tip-display {
  font-size: clamp(1rem, 8vw, 2rem);
  font-weight: 700;
  color: #26c0ab;
  overflow: hidden;
}

.total-wrapper .total-section .total-text {
  line-height: 1.3rem;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.total-wrapper .reset {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-family: inherit;
  font-weight: 700;
  font-size: 1.4rem;
  width: 100%;
  background-color: #26c0ab;
  color: #00494d;
  border: none;
  border-radius: 0.3rem;
  padding: 0.5rem;
  cursor: pointer;
}

.total-wrapper .reset:hover {
  background-color: #c5e4e7;
}

.attribution {
  margin: 1.5rem;
}

@media screen and (min-width: 1024px) {
  body {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100vh;
  }
  .calculator-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 60rem;
    height: 30rem;
    margin-bottom: 5vh;
  }
  .calc,
  .total-wrapper {
    height: 100%;
    width: 48%;
  }
  .tip-grid {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
  }
  .total-wrapper {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 3rem;
  }
  .total-wrapper .reset {
    margin-top: 5rem;
  }
  .total-wrapper .total-section {
    margin-bottom: 2rem;
  }
  .total-wrapper .total-section .tip-display {
    font-size: 2.6rem;
  }
  .title {
    padding-bottom: 6rem;
  }
  .attribution {
    margin: -1rem;
  }
}
/*# sourceMappingURL=main.css.map */